.card-container {
  border-radius: 6;
  color: black;
  background-size: cover;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
  height: 380px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: #e0e0e0;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.card-title {
  text-align: center;
  font-size: 1.4em;
  line-height: 1em;
  font-weight: 700;
  color: black;
  flex: 1;
}

.card-image-container {
  height: 220px;
  position: relative;
  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(250, 0, 150, 0.2);
  }
}

.card-image {
  background-color: #e0e0e0;
  width: 64px;
  height: 64px;
  filter: grayscale(60%);
}

.card-body {
  padding: 18px;
  flex: 1;
  display: flex;
  color: #e0e0e0;
  flex-direction: column;
  justify-content: space-around;
}

.card-footer {
  display: flex;
  flex-direction: row;
}

.author-image {
  height: 30px;
  width: 30px;
  margin-right: 8px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #573535;
}

.author-and-track {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author-name {
  line-height: 1em;
  font-size: 1.1em;
  color: black;
}

.track-length {
  font-size: 0.8em;
  color: black;
}
