.avatar {
  background-color: var(--scss-colors-avatar);
  border-radius: 100%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unused-class {
  background-color: var(--scss-colors-avatar);
  border-radius: 100%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--scss-spacing-l);
  border: 1px solid var(--scss-colors-heading);
  padding: var(--scss-spacing-s);
  margin-bottom: var(--scss-spacing-m);
}
