.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

:root {
  --block-colors-primary: #005b99;
  --colors-text: #2e353f;
  --colors-textlight: #4f5969;
  --colors-heading: #1a202c;
  --colors-headingblack: black;
  --colors-accent: #d1dce5;
  --block-colors-bgcolor: #e0e0e0;
  --colors-avatar: #88bf91;
  --scss-colors-avatar: #06c222;
  --scss-colors-primary: #1a202c;

  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;

  --border-radius-xs: 4px;
  --border-radius-s: 8px;
  --border-radius-m: 12px;
}

.container {
  display: block;
}
